{% schema %}

{
  "name": "Gallery",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    }, {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    }, {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    }, {
      "type": "image_picker",
      "id": "image4",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "image1XS",
      "label": "Image 1 Mobile"
    }, {
      "type": "image_picker",
      "id": "image2XS",
      "label": "Image 2 Mobile"
    }, {
      "type": "image_picker",
      "id": "image3XS",
      "label": "Image 3 Mobile"
    }, {
      "type": "image_picker",
      "id": "image4XS",
      "label": "Image 4 Mobile"
    }
  ]
}

{% endschema %}

<section class="gallery w-full relative bg-brand-75" data-component="Gallery">
  <article class="swiper-container swiper--gallery w-full h-full relative block md:hidden" data-component="SwiperCarousel" data-swiperid="gallery">
    <ul class="swiper-wrapper relative" id="gallery-swiper">
      <li class="swiper-slide w-full relative">
        <figure class="w-full h-full relative flex items-center justify-center">
          <img src="{{ section.settings.image1XS | image_url }}" class="w-full h-full relative block object-cover" alt=""/>
        </figure>
      </li>

      <li class="swiper-slide w-full relative">
        <figure class="w-full h-full relative flex items-center justify-center">
          <img src="{{ section.settings.image2XS | image_url }}" class="w-full h-full relative block object-cover" alt=""/>
        </figure>
      </li>

      <li class="swiper-slide w-full relative">
        <figure class="w-full h-full relative flex items-center justify-center">
          <img src="{{ section.settings.image3XS | image_url }}" class="w-full h-full relative block object-cover" alt=""/>
        </figure>
      </li>

      <li class="swiper-slide w-full relative">
        <figure class="w-full h-full relative flex items-center justify-center">
          <img src="{{ section.settings.image4XS | image_url }}" class="w-full h-full relative block object-cover" alt=""/>
        </figure>
      </li>
    </ul>

    <div class="swiper-pagination swiper-pagination--gallery w-full absolute bottom-0 right-0 left-0 z-10 flex sm:hidden justify-center pb-5"></div>
  </article>

  <article class="hidden md:block">
    <div class="grid">
      <ul class="col-span-12 relative flex">
        <li class="relative">
          <img src="{{ section.settings.image1 | image_url }}" class="w-full h-full object-cover" alt=""/>
        </li>

        <li class="relative">
          <img src="{{ section.settings.image2 | image_url }}" class="w-full h-full object-cover" alt=""/>
        </li>

        <li class="relative">
          <img src="{{ section.settings.image3 | image_url }}" class="w-full h-full object-cover" alt=""/>
        </li>

        <li class="relative">
          <img src="{{ section.settings.image4 | image_url }}" class="w-full h-full object-cover" alt=""/>
        </li>
      </ul>
    </div>
  </article>
</section>