{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "textarea",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label",
      "info": "t:sections.header.settings.logo.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.header.settings.subheading.label"
    },
    {
      "type": "text",
      "id": "cart_text",
      "label": "t:sections.header.settings.cart_text.label"
    },
    {
      "type": "textarea",
      "id": "cart_svg",
      "label": "t:sections.header.settings.cart_svg.label",
      "info": "t:sections.header.settings.cart_svg.info"
    }
  ]
}
{% endschema %}

<header id="site-header" class="header w-full fixed top-0 right-0 left-0 z-40" data-component="Header">
  <nav class="w-full h-12 relative z-10 grid md:flex md:items-center md:px-8 bg-mono-50 text-black">
    <div class="col-span-6 md:w-1/2 relative flex items-center">
      <a aria-current="page" href="/" class="header__logo">
        {{ section.settings.logo }}
      </a>

      <p class="header__subheading hidden md:block md:ml-8 lg:ml-24 xl:ml-32 b3">{{ section.settings.subheading }}</p>
    </div>

    <div class="col-span-6 md:w-1/2 relative">
      <a href="#" id="header-cart-button" class="h-full relative flex items-center justify-end">
        <p class="header__cart-text hidden md:block mr-1 b3">{{ section.settings.cart_text }}</p>

        {{ section.settings.cart_svg }}

        <div id="cart-quantity-container" class="{% if cart.item_count == 0 %}opacity-0{% endif %} w-4 h-4 absolute top-1 md:-top-2 -right-2 md:-right-2 rounded-full flex items-center justify-center bg-ux-green text-mono-white">
          <span id="cart-quantity" class="caption">{{ cart.item_count }}</span>
        </div>
      </a>
    </div>
  </nav>

  <div id="add-widget" class="header__widget col-span-full md:w-full md:h-20 absolute top-[48px] right-0 left-0 md:flex md:items-center md:justify-center pt-4 md:pt-0 px-4 md:px-8 pb-5 md:pb-0 bg-ux-green text-mono-white">
    <div class="w-full md:w-1/2 relative mb-5 md:mb-0">
      <p class="b2">Added to cart</p>
    </div>

    <div class="w-full md:w-1/2 relative md:flex md:items-center md:justify-end">
      <p class="w-full md:w-auto md:mr-3 b3">
        <span id="add-widget-item"></span>
      </p>
      
      <p class="w-full md:w-24 b3">
        <span>Qty: </span>
        <span id="add-widget-quantity"></span>
      </p>
      
      <div class="relative flex mt-4 md:mt-0">
        <a href="/cart" class="w-full md:w-24 relative block mr-1 md:mr-4">
          <button type="button" class="button button--green button--green-border w-full h-10 relative block border-mono-white">
            <span class="b3">
              View Cart
            </span>
          </button>
        </a>

        <div class="w-full md:w-24 relative block ml-1 md:ml-0">
          <a href="/checkout">
            <button type="button" id="header-checkout-button" class="button button--white w-full h-10 relative block">
              <span class="b3">
                Checkout
              </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>