{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "textarea",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label",
      "info": "t:sections.header.settings.logo.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.header.settings.subheading.label"
    },
    {
      "type": "text",
      "id": "cart_text",
      "label": "t:sections.header.settings.cart_text.label"
    },
    {
      "type": "textarea",
      "id": "cart_svg",
      "label": "t:sections.header.settings.cart_svg.label",
      "info": "t:sections.header.settings.cart_svg.info"
    }
  ]
}
{% endschema %}

<header class="header w-full fixed top-0 right-0 left-0 z-40">
  <!-- <nav class="w-full relative flex items-center"> -->
  <nav class="w-full h-12 relative z-10 flex items-center px-8 bg-mono-50 text-black">
    <div class="w-1/2 relative flex items-center">
      <a aria-current="page" href="/">
        {{ section.settings.logo }}
      </a>

      <p class="header__subheading hidden md:block md:ml-8 lg:ml-24 xl:ml-32 b3">{{ section.settings.subheading }}</p>
    </div>

    <div class="w-1/2 relative">
      <a href="/cart" class="flex items-center justify-end">
        <p class="header__cart-text mr-1 b3">{{ section.settings.cart_text }}</p>

        {{ section.settings.cart_svg }}

        <div class="w-4 h-4 absolute -top-2 -right-2 rounded-full flex items-center justify-center bg-ux-green text-mono-white">
          <span class="caption">{{ cart.item_count }}</span>
        </div>
      </a>
    </div>
  </nav>

  <div id="add-widget" class="header__widget w-full h-20 relative flex items-center justify-center px-8 bg-ux-green text-mono-white">
    <div class="w-1/2 relative">
      <p class="b2">Added to cart</p>
    </div>

    <div class="w-1/2 relative flex items-center justify-end">
      <p class="mr-3 b3">
        <span id="add-widget-item"></span>
      </p>
      
      <p class="w-24 b3">
        <span>Qty: </span>
        <span id="add-widget-quantity"></span>
      </p>
      
      <a href="/cart">
        <button type="button" class="button button--green button--green-border w-24 h-10 relative block mr-4 border-mono-white">
          <span class="b3">
            View Cart
          </span>
        </button>
      </a>
      
      <form action="{{ routes.cart_url }}" method="post">
        <button type="button" class="button button--white w-24 h-10 relative block">
          <span class="b3">
            Checkout
          </span>
        </button>
      </form>
    </div>
  </div>
</header>