<section class="image-tiles w-full relative flex flex-wrap">
  <figure class="w-1/2 md:w-1/4 relative block">
    <img src="{{ 'pdp-desktop-proof-points-01.jpg' | asset_url }}" class="w-full relative hidden md:block object-cover" alt="Superior Clean"/>
    <img src="{{ 'pdp-mobile-proof-points-01.jpg' | asset_url }}" class="w-full relative block md:hidden object-cover" alt="Superior Clean"/>
  </figure>

  <figure class="w-1/2 md:w-1/4 relative block">
    <img src="{{ 'pdp-desktop-proof-points-02.jpg' | asset_url }}" class="w-full relative hidden md:block object-cover" alt="Innovative Design"/>
    <img src="{{ 'pdp-mobile-proof-points-02.jpg' | asset_url }}" class="w-full relative block md:hidden object-cover" alt="Innovative Design"/>
  </figure>

  <figure class="w-1/2 md:w-1/4 relative block">
    <img src="{{ 'pdp-desktop-proof-points-03.jpg' | asset_url }}" class="w-full relative hidden md:block object-cover" alt="Sustainable Materials"/>
    <img src="{{ 'pdp-mobile-proof-points-03.jpg' | asset_url }}" class="w-full relative block md:hidden object-cover" alt="Sustainable Materials"/>
  </figure>

  <figure class="w-1/2 md:w-1/4 relative block">
    <img src="{{ 'pdp-desktop-proof-points-04.jpg' | asset_url }}" class="w-full relative hidden md:block object-cover" alt="Self-Cleaning Travel Case"/>
    <img src="{{ 'pdp-mobile-proof-points-04.jpg' | asset_url }}" class="w-full relative block md:hidden object-cover" alt="Self-Cleaning Travel Case"/>
  </figure>
</section>