{% schema %}

{
  "name": "Policy",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "label1",
      "label": "Label 1"
    },
    {
      "type": "richtext",
      "id": "content1",
      "label": "Content 1"
    },
    {
      "type": "text",
      "id": "label2",
      "label": "Label 2"
    },
    {
      "type": "richtext",
      "id": "content2",
      "label": "Content 2"
    },
    {
      "type": "text",
      "id": "label3",
      "label": "Label 3"
    },
    {
      "type": "richtext",
      "id": "content3",
      "label": "Content 3"
    },
    {
      "type": "text",
      "id": "label4",
      "label": "Label 4"
    },
    {
      "type": "richtext",
      "id": "content4",
      "label": "Content 4"
    }
  ]
}

{% endschema %}

<div class="policy w-full relative pt-32 md:pb-12 bg-mono-50">
  <section class="grid">
    <nav class="col-span-12 md:col-span-4 md:col-start-3 md:h-screen md:sticky md:top-24 md:left-0">
      <ul class="w-full relative block">
        <li>
          <p class="b1">{{ section.settings.label1 }}</p>
        </li>

        <li>
          <p class="b1">{{ section.settings.label2 }}</p>
        </li>

        <li>
          <p class="b1">{{ section.settings.label3 }}</p>
        </li>

        <li>
          <p class="b1">{{ section.settings.label4 }}</p>
        </li>
      </ul>
    </nav>

    <article class="col-span-5 relative min-h-screen">
      <p class="b1">{{ section.settings.content1 }}</p>
      <p class="b1">{{ section.settings.content2 }}</p>
      <p class="b1">{{ section.settings.content3 }}</p>
      <p class="b1">{{ section.settings.content4 }}</p>
    </article>
  </section>
</div>